<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Checks for the presence of the new admin account and then removes the retired one.</string>
	<key>display_name</key>
	<string>Remove Retired Admin</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash
old_account="administrator"
new_account="newadmin"
/usr/bin/dscl . -read /Users/$new_account UniqueID 2> /dev/null
if [[ $? -eq '0' ]]; then
	/usr/bin/dscl . -read /Users/$old_account UniqueID 2> /dev/null
	if [[ $? -eq '0' ]]; then
		exit 0
	else
		exit 1
	fi
else
	exit 1
fi</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.10</string>
	<key>name</key>
	<string>remove_admin</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
old_account="administrator"
new_account="newadmin"
ard_group_name="com.apple.local.ard_admin"
kickstart="/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart"
/usr/bin/dscl . -delete /Users/$old_account
if [[ -d /Users/$old_account ]]; then
	/bin/mv -f /Users/$old_account /var/$old_account
fi
if [[ -d /var/$old_account ]]; then
	/usr/sbin/chown -R $new_account:admin /var/$old_account
fi
/usr/sbin/dseditgroup -o edit -n /Local/Default -a $new_account -t user "$ard_group_name"
/usr/sbin/dseditgroup -o edit -n /Local/Default -d $old_account -t user "$ard_group_name"
$ard_kickstart -restart -quiet
exit 0</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>